async-lru==2.3.0
fastapi[standard]==0.135.2
google-auth==2.49.1
parsel==1.11.0
psycopg2-binary==2.9.11
pyutils @ git+https://github.com/iagocanalejas/pyutils.git@master
requests==2.33.0
stripe==15.0.0
